:root{
    background-color: #ffff;
}

#overskrift{
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
}

.forsidegruppe{

    background-color: #C4E1C5;
    padding: 20px;
    max-width: 300px;


        img{
            width: 250px;
            max-height: auto;
            border: 2px solid #62b265;
        }
        
                p{
                    margin: 10px 0px 0px 25px;
                    padding:0;
                    text-align: left;
                    font-weight: bold;
                    }
        
}

@media screen and (max-width: 1500px){


}