
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 30px;
    margin: 0;
}
.hjem{
    display: flex;
    justify-content: flex-end;
}


header{
    box-sizing: border-box;
    background-color: #D2F6FF;
    width: 100%;

    p{
        display: inline-block;
        margin: 0;
    }
    
    nav{
        display: flex;
        justify-content: center;
       
        ul{
            margin: 0;
            padding: 10px;
            display: flex;
            li{
                display: inline-block;
                padding: 10px;
                list-style: none;
                padding-bottom: 30px;

                :hover{
                    color: white;
                }

                a{
                    color: black;
                }
            }
        }
    }
}