
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: auto;
    margin: 0;

    img{
        height: auto;
        width: 200px;
    }

}

.hjem{
    display: flex;
    justify-content: flex-end;
    
}

header{

    box-sizing: border-box;
    background-color: #D2F6FF;
    width: 100%;
    margin-bottom: 50px;

    p{
        display: inline-block;
        margin: 0;
    }
    
    nav{
        display: flex;
        justify-content: center;
       
        ul{
            margin: 0;
            padding: 10px;
            display: flex;
            li{
                display: inline-block;
                padding: 10px;
                list-style: none;
                padding-bottom: 30px;

                a{
                    color: #8dc58f;
                    border-bottom: 1px solid #8dc58f;
                }

                a:hover{
                    color: #000;
                }
            }
        }
    }
}

footer{
    background-color: #FFD2F5;
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .gruppenavn{
        font-weight: 500;
    }

    p{
       margin: 0;
       margin-top: 20px;
       margin-bottom: 10px;
       font-weight: 200;
    }
}

@media screen and (max-width: 600px){

    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;

        img{
            width: 100px;
            height: auto;
        }
    } 
}