html, body{
    margin: 0;
}

#gruppeoverskrift{
    color: #C4E1C5;
    text-align: center;
}

.loggcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    background-color:#C9A48C ;
    border-style: solid;
    border-color: #FFD2F5;
    width: 600px;
    padding: 10px;
}

.loggforinger{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-color: #fff;
    background-color: #FFD2F5;
    gap: 10px;
    margin: 1rem;
    padding: 0.5rem;
    color: #000;
    
}

#fatname{
    font-weight: bolder;
}
#fatdate{
    font-weight: bolder;
}

@media screen and (max-width: 400px),(min-width:4000px){
    .loggcontainer{
        background-color:#C9A48C ;
        border-style: solid;
        border-color: #FFD2F5;
        width: 300px;
        padding: 4px;
        margin: 0 auto;

            p{
                display: flex;
                flex-direction: column;
            }
    }
    
    #fatname{
        font-weight: bolder;
    }
    #fatdate{
        font-weight: bolder;
    }
}